:root
{
  --black: #191919;
  --ultrablack: #000000;
  --blackGris : #2B2B2B;
  --gris : #86868B;
  --azul : #1561F0;
  --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
}

.App{
  color: var(--black);    
}

html {
  height: 100%;
}

body{
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow:hidden;
}

html {
  background: url(./img/bose-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media screen and (max-width: 480px){
  .App{
    padding: 0rem 1rem;
  }
}